<a href="https://colab.research.google.com/github/bharathulaprasad/AprioriAlgorithm/blob/main/apriori_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
dataset=[['Milk','Onion','Nutmeg','Kidney Beans', 'Eggs','Yogurt'],
         ['Dill','Onion','Nutmeg','Kidney Beans','Eggs', 'Yogurt'],
         ['Milk', 'Apple', 'Kidney Beans','Eggs'],
         ['Milk','Unicorn','Corn','Kidney Beans','Yogurt'],
         ['Corn','Onion','Kidney Beans','Ice Cream','Eggs']]

In [16]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [17]:
dataset

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Kidney Beans', 'Ice Cream', 'Eggs']]

In [18]:
te= TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)

In [19]:
df=pd.DataFrame(te_ary,columns=te.columns_)
df

   Apple   Corn   Dill   Eggs  Ice Cream  ...   Milk  Nutmeg  Onion  Unicorn  Yogurt
0  False  False  False   True      False  ...   True    True   True    False    True
1  False  False   True   True      False  ...  False    True   True    False    True
2   True  False  False   True      False  ...   True   False  False    False   False
3  False   True  False  False      False  ...   True   False  False     True    True
4  False   True  False   True       True  ...  False   False   True    False   False

[5 rows x 11 columns]

In [20]:
from mlxtend import frequent_patterns
from mlxtend.frequent_patterns import apriori
frequent_itemsets=apriori(df,min_support=0.6,use_colnames=True)
frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Onion, Eggs)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Kidney Beans, Onion, Eggs)

In [21]:
from mlxtend.frequent_patterns import association_rules
res = association_rules(frequent_itemsets,metric='confidence', min_threshold=0.7)
res

              antecedents            consequents  ...  leverage  conviction
0          (Kidney Beans)                 (Eggs)  ...      0.00         1.0
1                  (Eggs)         (Kidney Beans)  ...      0.00         inf
2                 (Onion)                 (Eggs)  ...      0.12         inf
3                  (Eggs)                (Onion)  ...      0.12         1.6
4                  (Milk)         (Kidney Beans)  ...      0.00         inf
5                 (Onion)         (Kidney Beans)  ...      0.00         inf
6                (Yogurt)         (Kidney Beans)  ...      0.00         inf
7   (Kidney Beans, Onion)                 (Eggs)  ...      0.12         inf
8    (Kidney Beans, Eggs)                (Onion)  ...      0.12         1.6
9           (Onion, Eggs)         (Kidney Beans)  ...      0.00         inf
10                (Onion)   (Kidney Beans, Eggs)  ...      0.12         inf
11                 (Eggs)  (Kidney Beans, Onion)  ...      0.12         1.6

[12 rows x 9 columns]